[Unit]
Description = rclone-cgking1 
AssertPathIsDirectory=/home/gd
Wants=network-online.target
After=network-online.target

[服务]
#服务类型，notfy表示服务停止会发通知
Type=notify
#stop服务，不杀进程
KillMode=none
#当非正常退出时，自动重启
Restart=on-failure
RestartSec=5
#运行用户
User=root
#挂载目录设置
ExecStart = /usr/bin/rclone mount cgking1: /home/gd \
#将挂载上的文件权限设置为读写执行
--umask 000 \
#这是为了允许运行rclone的用户以外的其他用户访问挂载
--allow-other \
#不知道什么作用
--allow-non-empty \
#Google云端硬盘是一个轮询远程设备，因此可以将该值设置得很高，并且可以通过轮询检测到任何更改。需要即使刷新可使用rclone rc vfs/forget命令(default 5m0s)
--dir-cache-time 1000h \
#轮询间隔,如果降低到15秒，这使更改显示得很快，但是每天的API配额非常庞大
--poll-interval 1h \
#传输的线程数，太大会耗尽资源，太小影响速度
--transfers 4 \
#这用于将文件缓存到本地磁盘以进行流传输
--vfs-cache-mode full \
#使用高速缓存模式完整时，额外读取--buffer-size
--vfs-read-ahead 8G
#用于缓存的本地磁盘
--cache-dir=/home/cache \
#将缓存大小限制为以下值
--vfs-cache-max-size 8G \
#用于预先缓冲数据的内存量
--buffer-size 512M \
#读取块大小，不理解用的到底是内存还是硬盘
--vfs-read-chunk-size 64M \
#读取块分块限制
--vfs-read-chunk-size-limit 512M \
#日志级别输出 
--log-level INFO \
#日志文件的位置
--log-file /home/rclone-mount.log \
#服务停止时执行
ExecStop=fusermount -qzu /home/gd
#服务启动后刷新
ExecStartPost=/usr/bin/rclone rc vfs/refresh

[Install]
WantedBy = multi-user.target


#如果大小达到上限并首先删除最早的文件，这将限制缓存的使用期限
--vfs-cache-max-age 336h \
#设置每个文件的带宽控制，我将其限制为比我想播放的最大比特率大一点
--bwlimit-file 16M