# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

emby.cgking.top {
	file_server
	reverse_proxy localhost:8096
}

qbt-rn.cgking.top {
	file_server
	reverse_proxy localhost:8070
}