[Unit]
Description = rclone-cgking1 
AssertPathIsDirectory=/home/gd
Wants=network-online.target
After=network-online.target

[服务]
#服务类型，notfy表示服务停止会发通知
Type=notify
#stop服务，不杀进程
KillMode=none
#当非正常退出时，自动重启
Restart=always
RestartSec=5
#运行用户
User=root
#挂载目录设置
ExecStart = /usr/bin/rclone mount cgking1: /home/gd \
#将挂载上的文件权限设置为读写执行 777-000=777
--umask 000 \
#这是为了允许运行rclone的用户以外的其他用户访问挂载
--allow-other \
#允许非空挂载点，即允许在挂载点上与其他项目一起挂载
--allow-non-empty \
#Don't read/write the modification time (can speed things up)
--no-modtime \
#取代Go内存分配器，优化内存占用的尝试，由于无法适用所有系统，故未列入默认值
--use-mmap \
#缓存更新时间(默认 5m0s)，Google云端硬盘支持轮询，可以将该值设置得很高，并且可以通过轮询检测更改。即时刷新使用rclone rc vfs/forget
--dir-cache-time 24h \
#轮询间隔,,必须小于dir-cache-time。设置为0禁用(默认为1m0s)。如果降低到15秒，更改显示得很快，但是API配额非常庞大(s,m,h) 
--poll-interval 20s \
#Cache mode off|minimal|writes|full (默认off)，writes|full模式支持所有正常的文件系统操作，缓存资源使用buffer-size加上vfs-read-ahead，注意full模式不支持FAT/exFAT文件系统，log日志将显示error，rclone效率奇差
--vfs-cache-mode full \
#用于缓存的本地磁盘
--cache-dir=/home/cache \
#用于缓冲数据的内存量，内存使用为缓冲设置值*文件数 (default 16M)
--buffer-size 256M \
#full模式时，对buffer-size的额外补充，buffer-size用内存，vfs-read-ahead用硬盘
--vfs-read-ahead 500M \
#Max total size of objects in the cache. (default off),实际使用往往可能大于该值
--vfs-cache-max-size 8G \
#缓存块大小(默认128M)
--vfs-read-chunk-size 64M \
#缓存块大小翻倍(*2)极限,即翻倍到limit，就一直以limit作为增长值缓存(default "off")
--vfs-read-chunk-size-limit 512M \
#设置每个文件的带宽控制，我将其限制为比我想播放的最大比特率大一点
--bwlimit-file 16M
#日志级别输出 
--log-level INFO \
#日志文件的位置
--log-file /home/rclone-mount.log \
#服务停止时执行
ExecStop=fusermount -qzu /home/gd
#服务启动后刷新
ExecStartPost=/usr/bin/rclone rc vfs/refresh

[Install]
WantedBy = multi-user.target


#如果大小达到上限并首先删除最早的文件，这将限制缓存的使用期限
--vfs-cache-max-age 336h \